[submodule "libs/di"]
	path = libs/di
	url = https://github.com/boost-ext/di.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/rapidfuzz-cpp"]
	path = libs/rapidfuzz-cpp
	url = https://github.com/maxbachmann/rapidfuzz-cpp.git
