[Desktop Entry]
Type=Application
Name=Librum
GenericName=E-Book Reader
Comment=A modern ebook reader and library manager
Comment[fr]=Un lecteur de livres et un gestionnaire de bibliothèque moderne
Comment[de]=Ein moderner E-Book-Reader und Bibliotheksmanager
Exec=librum
Icon=librum
Terminal=false
Categories=Education;Viewer;Printing;Literature;Qt;
Keywords=Book;Library;Reader;E-Book;